 /* .results {
    grid-area: main;
    height: auto;
  border: 1px solid rgb(167, 161, 161);
  
} */

/* .grind-container{
display: flex;
flex-direction: column;
justify-content: flex-start;
} */

.sections{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    padding-top: 20px;
    padding-bottom: 20px;   
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 25px
}

/* .sections{
    grid-area: section;
    display: flex;
    flex-direction: row;
    color: black;
    font-size: 50px;
    align-items: center;
    justify-content: center
    
} */
/*
.grid-container {
    display: grid;
    grid:
    '. . section . .' 2fr
    ". . main main . . "2fr 
    " . . main main . ."2fr
    " . . main main . ." 2fr
    ' . . pagination . .' 2fr
    / 2fr 2fr 2fr 2fr 2fr ;
}

.Pagination {
    grid-area: pagination;
}

.sides {
grid-area: sides;
color: black
} */